body {
    height: 100vh;
    background: url('/static/media/backgrounds/background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.form_container {
    height: 100vh;
    width: 60vw;
    border-radius: 2rem;
    box-shadow: 0 0 5rem black;
}

.image_username {
    height: 30vh;
    border-radius: 2rem 2rem 0 0;
    background: linear-gradient(#39404d, #242f3c);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.image_username img {
    height: 25vh;
    border-radius: 25vh;
    margin-left: 5vh;
}
.image_username h2 {
    text-align: center;
    font-size: 5rem;
    color: #e0e0e0;
}

#main_container {
    height: 60vh;
    overflow: hidden;
    background: linear-gradient(#171717 0%, #181818 3%, #0e0e0e);
    /*padding: 8vh 6vh 6vh 6vh;*/
    display: flex;
    color: #e0e0e0;
    padding: 5vh 3vh;
    justify-content: space-evenly;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

#personal_info {
    background: linear-gradient(#242931, #171e26);
    padding: 2vh 3vh 2vh 3vh;
    border-radius: 3vh;
    width: 15vw;
    box-shadow: 0 0 0.5rem #171717;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info_container {
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.form_data {
    background: #e0e0e0;
    color: #0e0e0e;
    text-align: center;
    border-radius: 1rem;
    margin: 1vh 0 2vh 0;
    flex-grow: 0;
    /*padding: 0.5rem;*/
}

#personal_info h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

form h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

#edit_container {
    width: 50%;
    /*background: red;*/
}

.form_value{
    outline: none;
    border: none;
    margin: 0;
    padding: 0.25rem 0.5rem;
}

.form_value:hover, .form_value:focus {
    box-shadow: 0 0 0.5rem #e0e0e0;
}

.edit-fields-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3vh;
}

#role-choices {
    display: flex;
    justify-content: space-between;
}
#role-choices:hover {
    cursor: auto;
    box-shadow: none;
    background: linear-gradient(#39404d, #242f3c);
    color: #e0e0e0;
}

.choice {
    background: linear-gradient(#39404d, #242f3c);
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    text-align: center;
}

.choice:hover, .chosen{
    cursor: pointer;
    background: #e0e0e0;
    box-shadow: 0 0 0.5rem #e0e0e0;
    color: #0e0e0e;
}

.chosen {
    box-shadow: none;
}

#options_container {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(0.2rem);
    z-index: 2;
}

.subs_opts_cont {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    width: inherit;
    height: inherit;
    overflow: scroll;
    text-align: center;
    border-radius: 1.5rem;
    padding-top: 0.6rem;
    margin-top: 2rem;
}


.subs_opts_cont::-webkit-scrollbar {
    display: none;
}

#scroll_text {
    font-size: 1.2rem;
}

.option:hover {
    cursor: pointer;
    color: white;
    text-shadow: 0 0 0.15rem white;
}

.options {
    padding: 5rem;
    background-image: linear-gradient(#2b3341, #242f3c);
    display: none;
    flex-direction: column;
    border-radius: 2rem;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 50vw;
    font-size: 3rem;
    color: #e0e0e0;
    box-shadow: 0 0 5rem #1d2532;
    overflow: hidden;
    position: relative;
}


#subjects {
    font-size: 2rem;
}

.close_options {
    background: none;
    color: white;
    border: none;
    font-size: 2rem;
    align-self: flex-end;
    position: fixed;
    transform: translate(7vh, -30vh);
}

.close_options:hover {
    cursor: pointer;
}

#student_choice, #teacher_choice {
    border-radius: 1rem;
    padding: 0 0.5rem;
}

#student_choice:hover, #teacher_choice:hover {
    cursor: pointer;
    background: #e0e0e0;
    box-shadow: 0 0 1rem #e0e0e0;
    color: #0e0e0e;
}

.option {
    display: flex;
    width: inherit;
    justify-content: space-between;
    margin-bottom: 1vh;
    padding: 0 1rem;
    box-sizing: border-box;
    /* border-bottom: 0.1rem solid #dc9860; */
}

.load_options {
    animation: load_options 0.5;
}

@keyframes load_options {
    0% {
        scale: 0;
    }
    100% {
        scale: 100%;
    }
}

.popup_info {
    position: absolute;
    top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option span {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    pointer-events: none;
}

.forsubject {
    flex-direction: column;
    margin-bottom: 0;
}

.subject-selection {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#edit-profile-picture {
    width: 10vh;
    border-radius: 100%;
}

#image-upload-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#image-upload-container label {
    align-self: center;
    margin-bottom: 1vh;
}

#image-upload-container input{
    padding: 0.5rem;
}

#image-upload-container input:hover {
    background: linear-gradient(#2b3341, #242f3c);
    color: #e0e0e0;
    box-shadow: none;
}

#image-upload-container input::-webkit-file-upload-button {
    border-radius: 1rem;
    outline: none;
    border: none;
    font-family: "Bebas Neue";
}

#image-upload-container input::-webkit-file-upload-button:hover {
    background: #e0e0e0;
    box-shadow: 0 0 1rem #e0e0e0;
    color: black;
    cursor: pointer;
}
.submit {
    outline: none;
    width: 100%;
    color: white;
    border: none;
    font-size: 1.3rem;
}

.submit:hover {
    outline: none;
    border: none;
    background: #186064;
    color: white;
    box-shadow: 0 0 1rem #186064;
}

.selected-option {
    background-color: #186064;
    border-radius: 1rem;
}

.selected-option:hover {
    box-shadow: 0 0 0.5rem #186064;
}

p.form_data:hover {
    cursor: pointer;
    box-shadow: 0 0 1rem #e0e0e0;
}