{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css')}}">
{% endblock %}
{% block body %}
<div class="form_container">
    <h1>Reset your password</h1>
    <form action="/forgot" method="post">
        <label for="email">Enter email</label>
        <input type="email" name="email" id="email" placeholder="Enter the email used to create your account">
        <input type="submit" value="Reset password" id="submit">
    </form>
    {% from "macros.html" import flashed %}
    {{ flashed }}
    <div class="extra_options">
        <p>If the email entered is associated with an account a password reset link will be emailed to you.</p>
        <p>Check your email inbox for the password reset link</p>
        <a href="/sign-in">Return to sign-in</a>
    </div>

</div>
{% endblock %}