{% macro navbar(user) %}
<nav class="navbar">
    <div id="navbar_logo">
        <img src="{{url_for('static', filename='/media/logos/logo_light_long_transparent.png')}}" alt="">
    </div>
    <div id="navbar_tools">
        <div id="navbar_browser">
            <a href="/dashboard" class="navbar_link">Dashboard</a>
            <a href="/home" class="navbar_link">Home</a>
            <a href="/browse" class="navbar_link">Browse</a>
            <a href="/upload" class="navbar_link">Upload</a>
        </div>
        {% if user.is_authenticated %}
        <div id="navbar_profile">
            <div id="img_container">
                {% if not user.profile_complete %}
                    {% set pfp_url = "base_profile" %}
                {% else %}
                    {% set pfp_url = user.id %}
                {% endif %}
                <img src="{{url_for('static', filename='/media/content/profile_pictures/' + pfp_url + '.png')}}"
                    alt="profile picture">
            </div>
            <div class="navbar_link">
                {{user.username}}
            </div>
        </div>
        {% endif %}
        <div id="navbar_options">
            {% if not user.is_authenticated %}
            <a href="/sign-up" class="navbar_link">Sign-Up</a>
            <a href="/sign-in" class="navbar_link">Sign-In</a>
            {% endif %}

        </div>
    </div>
</nav>
{% if user.is_authenticated %}
<div id="profile-popup-container">
    <div id="user_profile">
        <a href='/edit-profile' id="profile_pic">
            <img src="{{url_for('static', filename='/media/content/profile_pictures/base_profile.png')}}"
                alt="profile picture">
        </a>
        <div id="popup_username">
            {{ user.username }}
        </div>
        <!-- <a href="/profile" class="navbar_link">✎</a> -->
        <div class="profile_content">
            <div class="member_since">
                <span>Member Since:</span>
                {{ user.date_created.strftime('%d %B %Y') }}
            </div>
            <hr>
            {% set profile_complete = not None in [user.name, user.role, user.profile_picture] and user.subjects != [] %}
            {% if user.fname != None or user.lname != None%}
            <div class="role_info info">
                {{ user.fname + " " + user.lname }}
            </div>
            {% endif %}
            {% if user.role != None %}
            <div class="role_info info info-title">
                {{ user.role }}
            </div>
            {% endif %}
            {% if user.subjects != [] %}
            <div class="subjects_info info">
                {% if user.subjects|len > 2 %}
                <div class="info-title">Subjects of interest</div>
                <ol>
                    <li>{{user.subjects[0].subject_name}}</li>
                    <li>{{user.subjects[1].subject_name}}</li>
                    <div>and {{user.subjects|len - 2}} more</div>
                </ol>
                {% else %}
                {% for subject in user.subjects %}
                <ol>
                    <li>{{subject.subject_name}}</li>
                </ol>
                {% endfor %}
                {% endif %}
            </div>
            {% endif %}

            {% if not profile_complete %}
            <div class="complete_profile">
                <a class="profile_link navbar_link complete_profile" href="/edit-profile">⚠ Complete Profile ⚠</a>
            </div>
            {% endif %}
            <div class="posts_info info">
                <span>Posts:</span>
                {% set num_posts = user.posts|length %}
                <a href="/view" class="profile_link navbar_link" title="View latest post by user">{{ num_posts }} {% if num_posts == 1 %}post{% else %}posts{% endif %}</a>
            </div>
            <div class="auth info">
                <a href="/logout" class="profile_link navbar_link">Logout</a>
            </div>
        </div>
    </div>
</div>
{% endif %}
<script src="{{url_for('static',filename='js/macros.js')}}"></script>
{% endmacro %}

{% macro flashed() %}
{% with messages = get_flashed_messages(with_categories=True) %}
{% for category, message in messages %}
<div class="flashed">{{message}}</div>
{% endfor %}
{% endwith %}
<script src="{{url_for('static',filename='js/macros.js')}}"></script>
{% endmacro %}

{% macro preview_post(post_obj) %}

{% endmacro %}

{% macro options_container(user, subjects, qualifications, context) %}
<div class="options" id="qualifications">
    <span class="close_options" onclick="close_option('qualifications')">🗙</span>
    <div class="opts_cont">
        {% for qualification in qualifications %}
        <div class="option" id='{{qualification.id}}'>{{qualification.id}}</div>
        {% endfor %}
    </div>
</div>

<div class="options {{context}}" id="subjects">
    <span class="close_options" onclick="close_option('subjects')">🗙</span>
    <div class="popup_info">
        <div id="subject_text">Showing <span id="qualification_text">All</span> subjects</div>
        <div id="scroll_text">scroll for more options</div>
    </div>
    <div class="subs_opts_cont">
        {% for subject in subjects %}
        {% set special_class = '' %}
        {% if "IGCSE" in (subject.qualifications[0].id|str) %}
            {% set main_class = 'ig_subject' %}
        {% else %}
            {% set main_class = 'al_subject' %}
            {% if subject.qualifications|len == 1 %}
                {% if (subject.qualifications[0].id|str)[1] == "S" %}
                    {% set special_class = 'as_only' %}
                {% else %}
                    {% set special_class = 'al_only' %}
                {% endif %}
            {% endif %}
        {% endif %}

        <div class="option {{main_class}} {{special_class}}" id='{{ subject.id }}'>
            <span class="option_text">{{subject.subject_name}}</span><span>{{subject.id}}</span>
        </div>
    {% endfor %}
    </div>
</div>

{% endmacro %}